
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LPU </title>
</head>
<body>
    {{>header}}
    <h1 style="color:blueviolet">Course Registration</h1>
    <p>{{coursecode}}</p>
    <p>Coursename:{{Capt coursename}}</p>
    <p>Term-Id:{{termid}}</p>
    <p>Grade:{{grade}}</p>
    {{>footer}}
</body>
</html>